#include <dt-bindings/zmk/matrix_transform.h>

&i2c0 {
	status = "disabled";
    glidepoint0: glidepoint@2a {
		compatible = "cirque,pinnacle";
		reg = <0x2a>;
		status = "disabled";
		dr-gpios = <&xiao_d 3 (GPIO_ACTIVE_HIGH)>;
		sensitivity = "2x";
	};
};

&i2c0 {
    status = "okay";
    glidepoint: glidepoint@2a {
        status = "okay";
    };
};

/ {
  tpad0: tpad0 {
        compatible = "zmk,input-listener";

        device = <&glidepoint>;
        xy-swap;
        scale-multiplier = <7>;
        scale-divisor = <3>;
        // y-invert;
        // x-invert;
    };
};

