#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
    };
};

&kscan0 {
    col-gpios
        = <&gpio1 0 GPIO_ACTIVE_HIGH>
        , <&gpio1 1 GPIO_ACTIVE_HIGH>
        , <&gpio1 2 GPIO_ACTIVE_HIGH>
        , <&gpio1 3 GPIO_ACTIVE_HIGH>
        , <&gpio1 4 GPIO_ACTIVE_HIGH>
        ;
    row-gpios
        = <&gpio1 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

&i2c0 {
	status = "disabled";
    glidepoint0: glidepoint@2a {
		compatible = "cirque,pinnacle";
		reg = <0x2a>;
		status = "disabled";
		dr-gpios = <&xiao_d 3 (GPIO_ACTIVE_HIGH)>;
		sensitivity = "2x";
	};
};

&i2c0 {
    status = "okay";
    glidepoint: glidepoint@2a {
        status = "okay";
    };
};

/ {
  tpad0: tpad0 {
        compatible = "zmk,input-listener";

        device = <&glidepoint>;
        xy-swap;
        scale-multiplier = <7>;
        scale-divisor = <3>;
        // y-invert;
        // x-invert;
    };
};

